.home-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-title {
    margin-bottom: 20px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .perfil-usuario {
    margin-right: 20px;
    border: 2px solid aquamarine;
    padding: 15px;
    border-radius: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .clubes-y-busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .buscar-videojuegos-btn {
    margin-bottom: 20px;
  }
  
  .lista-clubes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
  }
  
  .club-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  @media (min-width: 768px) {
    .content-container {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .clubes-y-busqueda {
      align-items: stretch;
    }
  }

  h2{
    color: aquamarine
  }